<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    table, th, td {
      border: 1px solid;
    }
    </style>
  <title>Portfolio</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link href="../../stylesheets/navbar.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container">
      <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Size</th>
            <th scope="col">Image</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(meme, i) { %>
              <tr <% if (meme.viewed) { %> class="viewed" <% } %>>
                  <td><%= meme.id %></td>
                  <td><%= meme.width +"x"+ meme.height %></td>
                  <td><img src="<%= meme.url %>" alt="<%= meme.name %>" width="20%"></td>
                  <td><a href="/memes/<%= meme.id %>" class="btn btn-secondary">Details</a></td>
              </tr>
          <% }); %>
        </tbody>
      </table>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>