<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container">
      <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Size</th>
            <th scope="col">Image</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(meme, i) { %>
              <tr <% if (meme.viewed) { %> class="viewed" <% } %>>
                  <td><%= meme.id %></td>
                  <td><%= meme.width +"x"+ meme.height %></td>
                  <td><img src="<%= meme.url %>" alt="<%= meme.name %>" width="20%"></td>
                  <td><a href="/meme/<%= meme.id %>" class="btn btn-secondary">Details</a></td>
              </tr>
          <% }); %>

          <form action="/memes/search" method="get">
            <div class="form-group">
                <label for="searchTerm">Search for a meme:</label>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Enter meme name">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </tbody>
      </table>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>